h1{
    color: red;
    font-family : Tahoma;
    background-color: rgb(232, 214, 114);
    height: 40px;
    width: 14%;
}
h2{
    color: blue;
    font-family:'Times New Roman';
    background-color: rgb(113, 113, 227);
    height: 35px;
    width: 12%;
}
.h3 {
    color: green;
    font-family: Arial;
    background-color: rgb(183, 199, 91);
    height: 30px;
    width: 10%;
}
h4{
    color: brown;
    font-family: verdana;
    background-color: rgb(175, 93, 93);
    height: 25px;
    width: 8%;
}